<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title)  %> | Liverpool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <% if notice || alert %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% end %>
    <div class="container <%= controller_name %> <%= action_name %>">
    <%= yield %>
    </div>
  </body>